'context-menu':
  'atom-text-editor': [{
      label: 'Minify SVG',
      command: 'svgo:minify'
    }, {
      label: 'Prettify SVG',
      command: 'svgo:prettify'
    }]
'menu': [{
  label: 'Packages'
  submenu: [
    label: 'SVGO'
    submenu: [{
      label: 'Minify SVG',
      command: 'svgo:minify'
    }, {
      label: 'Prettify SVG',
      command: 'svgo:prettify'
    }]
  ]
}]
